# Application localisation
FIREFOX_PATH="C:/Users/..."
SPOTIFY_PATH="C:/Users/..."

# API URL
OLLAMA_API="http://localhost/"
TTS_SERVER="http://my_server_tts/speak"

# API KEY
OLLAMA_API_KEY="123456789"
MISTRAL_API_KEY="123456798"

# Gmail
GOOGLE_CLIENT_ID="app.google.com"
GOOGLE_CLIENT_SECRET="KJflDN123"
GOOGLE_REFRESH_TOKEN="ABCJHLDFDS120dfs"

# Spotify
SPOTIFY_CLIENT_ID="123456789"
SPOTIFY_CLIENT_SECRET="123456789"
SPOTIFY_REDIRECT_URI="http://localhost/callback"
SPOTIFY_REFRESH_TOKEN="123456789"