# Application localisation
FIREFOX_PATH="C:/Users/..."
SPOTIFY_PATH="C:/Users/..."

# API URL
OLLAMA_API="http://localhost/"
TTS_SERVER="http://my_server_tts/speak"

# API KEY
OLLAMA_API_KEY="123456789"
MISTRAL_API_KEY="123456798"